@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<style>
    #over img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
<div class="row" id="over">
    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <img src="/Images/Mithun.jpg" class="img-circle img-responsive" width="80" />
            </div>
            <div class="panel-body text-center">
                <b>Mithun Biswas</b><br/>
                <b>mranjon@gmail.com</b><br/>
                <b>+880 1671824075</b><br/>
                <b>A ULAB Alumnus</b>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <img src="/Images/Nuha.jpg" class="img-circle img-responsive" width="80" />
            </div>
            <div class="panel-body text-center">
                <b>Nuha Khan</b><br/>
                <b>nuha.khan@gmail.com</b><br/>
                <b>+880 1852923568</b><br/>
                <b>A ULAB Alumnus</b>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <img src="/Images/Pathan.jpg" class="img-circle img-responsive" width="80" />
            </div>
            <div class="panel-body text-center">
                <b>A. Q. M. Sala Uddin Pathan</b><br/>
                <b>akashbolt@gmail.com</b><br/>
                <b>+880 1671824075</b><br/>
                <b>An NSTU Alumnus</b>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <img src="/Images/Thakur.jpg" class="img-circle img-responsive" width="80" />
            </div>
            <div class="panel-body text-center">
                <b>Kamlesh Kumar Thakur</b><br/>
                <b>thakurkamlesh10@gmail.com</b><br/>
                <b>+880 1782355098</b><br/>
                <b>An NSTU Alumnus</b>
            </div>
        </div>
    </div>
</div>

